<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite">

<listeners>
    <listener class-name="Retry.RetryListener"/>
    <listener class-name="extentReport.TestListener"/>
</listeners>

  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="TestClass.DashboardTestClass"/>
      <class name="TestClass.LoginTestClass"/>
      <class name="TestClass.OppertunityTestClass"/>
      <class name="TestClass.ClientTestClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- TestSuite -->
